<div ng-controller="challengeCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="main-header">
        <h1>GitGud</h1>
      </div>

      <div class="git-flow-container">
        <div class="prompt-text">{{challengeObject.prompt}}</div>
        <div>
          <div class="origin-container">
            <h3>Origin:</h3>
            <canvas id="origin-canvas"></canvas>
          </div>
          <div class="local-container">
            <h3>Local:</h3>
            <canvas id="local-canvas"></canvas>
          </div>
        </div>
        <!-- <div ng-if="!gameState.correct">
          <div class="origin-container">
            <h3>Origin:</h3>
            <img ng-src="{{challengeObject.images.origin.initial.url}}">
          </div>
          <div class="local-container">
            <h3>Local:</h3>
            <img ng-src="{{challengeObject.images.local.initial.url}}" >
          </div>
        </div> -->
        <!-- <div ng-if="gameState.correct">
          <div class="origin-container">
            <h3>Origin:</h3>
            <img ng-src="{{challengeObject.images.origin.correct.url}}">
          </div>
          <div class="local-container">
            <h3>Local:</h3>
            <img ng-src="{{challengeObject.images.local.correct.url}}" >
          </div>
        </div> -->
      </div>


      <div class="input-container">
        <form>
          <div class="terminal">
            <p class="terminal-header">terminal</p>
            <div class="terminal-message-container">
              <div ng-if="gameState.answered && !gameState.correct" class="incorrect-answer terminal-left-pad">
                <p>incorrect input</p>
              </div>
              <div ng-if="gameState.answered && gameState.correct" class="correct-answer terminal-left-pad" ng-bind-html="challengeObject.terminal_response" scroll-glue>
              </div>
            </div>
            <div class="terminal-input terminal-left-pad">
              <span>gitgud$</span>
              <input type="text" ng-model="answer" ng-change="gameState.answered = false" class="terminal-input-box" autofocus>
            </div>
          </div>

          <!-- Clear Input Button -->
          <div ng-if="gameState.answered && gameState.correct" class="clear-page">
            <button class="btn" ng-click="clearPage()">Clear</button>
          </div>

          <button class="btn" ng-if="!gameState.correct" ng-click="submitAnswer()" type="submit">Submit</button>
          <button class="btn" ng-if="gameState.answered && gameState.correct" ng-click="nextChallenge()">Next</button>
        </form>
      </div>

    </div>
  
    <div class="col-xs-12 col-sm-4 col-md-4" ng-include="'partials/sidebar.html'"></div>

  </div>

</div>
