<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div ng-controller="challengeCtrl">
      <div class="main-header">
        <h1>GitGud</h1>
      </div>

      <div class="git-flow-container">
        <div class="prompt-text">{{challengeObject.prompt}}</div>
        <div ng-if="!gameState.correct">
          <div class="origin-container">
            <h3>Origin:</h3>
            <img ng-src="{{challengeObject.images.origin.initial.url}}">
          </div>
          <div class="local-container">
            <h3>Local:</h3>
            <img ng-src="{{challengeObject.images.local.initial.url}}" >
          </div>
        </div>
        <div ng-if="gameState.correct">
          <div class="origin-container">
            <h3>Origin:</h3>
            <img ng-src="{{challengeObject.images.origin.correct.url}}">
          </div>
          <div class="local-container">
            <h3>Local:</h3>
            <img ng-src="{{challengeObject.images.local.correct.url}}" >
          </div>
        </div>
      </div>

      <div class="input-container">
          <input type="text" name="" ng-model="answer">
          <button class="btn btn-primary" ng-click="submitAnswer()">Submit</button>
      </div>

    </div>

  </div>

  <div class="col-xs-12 col-sm-4 col-md-4" ng-include="'partials/sidebar.html'"></div>

</div>